@model DayCareApp.Web.Models.Child

@{
    ViewBag.Title = "Details";
    var imagePath = "";
    imagePath = Model.ImagePath;
    
}


<h2>Details</h2>

      


   
       
<div>
   
    
    <h4>Child</h4>
    <hr />
    <img src="@imagePath" alt="Sample Photo" width="300" height="300" vspace ="10"/>
    <dl class="dl-horizontal">
        

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Institution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Institution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentlyCheckedIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentlyCheckedIn)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
